$color-html-background: #eee;
$color-body-background: white;
$color-body-foreground: black;
$color-primary: rgb(29, 155, 240);

$font-family-default: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-size-default: 1.5rem;