.comments {
    label {
        display: block;
        margin: 2rem 0 0.6rem 0;
    }

    .comment-form-cookies-consent {
        label {
            display: inline;
        }
    }

    input[type="submit"] {
        width: 100%;
    }

}